<!DOCTYPE html>

<html lang="en" data-ng-app="POS">
    <head>
        <meta charset="utf-8" />
        <title>Controladores</title>
         <script src="scripts/angular.min.js"></script>
         <script src="scripts/app.js"></script>
        <style>
            .tabla {
                border: solid 1px;
                border-style: dashed;
                background-color: #ff6a00;
            }
        </style>
    </head>
    <body data-ng-controller="posController" style="border: solid 1px;">
        <div data-ng-include src="'index.html'">lalalalal</div>   
        <button data-ng-show="!visible" data-ng-click="ShowOrHidden();">O</button>
        <img height="25px" width="25px" src=" " data-ng-src="{{imagenx}}" alt="." />
        <div data-ng-show="visible">
            <button data-ng-click="ShowOrHidden();">X</button>
            <h1>Ejemplo de controladores!</h1>
        <h2>Promocion de Yoyos a {{4.99 | currency}} la unidad.</h2>
        <button data-ng-click="LoadArticulos();">Cargar Articulos</button>
        <button data-ng-click="SetClass();">Cargar Clase</button>
        <button data-ng-click="SetStyle();">Cargar Estilo</button>
        <button data-ng-click="RemoveStyle();">Remover Estilos</button>
        <br />
         Buscar<input type="search" data-ng-model="buscar"/>
        <table data-ng-class="miclase">
            <thead>
                <tr data-ng-style="miestilo">
                    <th>Articulo</th>
                    <th>Precio</th>
                    <th>Seleccion</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-style="miestilo" data-ng-repeat="articulo in Articulos | filter:buscar">
                    <td>{{articulo.Nombre}}</td>
                    <td>{{articulo.Precio}}</td>
                    <td><input type="radio" data-ng-model="articulo.Seleccionado" data-ng-click="FSeleccionado(articulo);" /></td>
                </tr>
            </tbody>
        </table>
        <div>Cantidad: <input type="range" max="100" data-ng-model="Cantidad" /></div>
        <div>Usted ha seleccionado el Articulo: {{seleccionado.Nombre}}</div>
        <div><input type="text" data-ng-model="Cantidad" /></div>
        <div>Total: {{(Cantidad * seleccionado.Precio) | currency}}</div> 
        <button data-ng-click="CheckOut();">Procesar Orden</button>
        <div data-ng-include src="'plantillas/aviso.html'">lalalalal</div>   
        </div> 
    </body>
</html>
